.header{
    padding: 50px 0;
    width:100%;
    justify-content: space-between;
    position: fixed;
    top:0;
    .container{
        justify-content: space-between;
        .logo{
            font-size:21px;
            letter-spacing: 5px;
            text-transform: uppercase;;
            font-weight: 600;
        }
        .hamburger{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            span{
                width:25px;
                height:2px;
                background: black;
                &:nth-child(1){
                    margin-bottom:5px;
                }
            }
        }
    }

}