@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import "./breakpoint.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/cases.scss";
@import "./components/introoverlay.scss";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
}
.App{
    position: relative;
}
.container{
    max-width: 1560px;
    width:100%;
    margin: 0 auto;
    padding: 0 16px;
}
.row{
    display: flex;
}
.v-center{
    align-items: center;
}
.h-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}