@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700;800;900&display=swap");
@import "./breakpoint.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/cases.scss";
@import "./components/introoverlay.scss";
@import "./components/navigation.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
}

.App {
  position: relative;
}
.page {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: white;
  position: relative;
  h1 {
    position: absolute;
    top: 15%;
    font-size: 40px;
  }
}
body {
  visibility: hidden;
}
.MainContent {
  position: absolute;
}
.container {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  @include media("<=370px") {
    padding: 0 10px;
  }
}
.row {
  display: flex;
}
.v-center {
  align-items: center;
}
.h-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
